<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Register</h1>
    <div class = "form-register">
        <p>Ingrese un usuario para logearse!!</p>
        <form action= "/admin" method = "GET">
            <input type="text" name = "user" placeholder="nombre">
            <button type = "submit">Enviar</button>
        </form>
    </div>

</body>
</html>